.client-manager-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h2, h3 {
    text-align: center;
    color: #333;
  }
  
  .client-form {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input, .form-group textarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-group textarea {
    resize: vertical;
  }
  
  .error-message {
    color: red;
    margin-bottom: 15px;
    /* margin-top: 0px; */
  }
  
  .submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #45a049;
  }
  
  .client-list table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .client-list table, .client-list th, .client-list td {
    border: 1px solid #ccc;
  }
  
  .client-list th, .client-list td {
    padding: 10px;
    text-align: left;
  }
  
  .client-list th {
    background-color: #f2f2f2;
  }
  .contact-number-container {
    display: flex;
    align-items: center;
  }
  
  .country-code-dropdown {
    padding: 8px;
    border: 1px solid #ccc;
    border-right: none;
    background: #f9f9f9;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px 0 0 4px;
  }
  
  .contact-number-input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 4px 4px 0;
    font-size: 14px;
  }
  
  